{% extends 'free/base.html' %}
{% load free_filter %}
{% block content %}
<div class="tab-pane fade" id="list-messages" role="tabpanel"
     aria-labelledby="list-messages-list">
    <article id="mArticle">
        <h2 id="kakaoBody" class="tit_commercecs">1:1 문의하기</h2>
        <form id="requestForm" action="/inquire"  method="post" enctype="multipart/form-data" accept-charset="UTF-8">
            <input type="hidden" name="_csrf" value="c4925404-a459-479f-8f13-ea8ee98305ee" />
            <input type="hidden" name="service" value="111">
            <input type="hidden" id="categoryId" name="categoryId" >
            <input type="hidden" id="countryNumber" name="countryNumber" value="82">
            <input type="hidden" id="errorTraceId" name="errorTraceId" value="">
            <input type="hidden" id="errorMessage" name="errorMessage" value="">
            <input type="hidden" id="errorTime" name="errorTime" value="">
            <fieldset class="fld_entercs">
                <legend class="screen_out">문의하기 폼</legend>
                <div class="detail_entercs">
                    <div class="check_before hide">
                        <strong class="tit_before">
                            <a href="javascript:void(0)" class="link_before">
                                문의전 먼저 확인해 주세요!
                                <span class="ico_commercecs ico_fold">하위내용 보기</span>
                            </a>
                        </strong>
                        <div class="about_before">
                            <ul class="list_before">
                            </ul>
                        </div>
                    </div>
                    <div class="bundle_entercs">
                        <strong class="tit_bundle tit_type2">
                            문의유형<span class="ico_commercecs ico_require">필수항목</span>
                        </strong>
                        <div class="about_bundle">
                            <div id="pcTypeCategory" class="split_fill split_select">
                                <div class="select_entercs">
                                    <em class="screen_out">대분류 카테고리 선택상자</em>
                                    <a href="javascript:void(0)" class="link_select" aria-expanded="false">선택해주세요<span class="ico_commercecs ico_arrow">선택됨</span></a>
                                    <div class="opt_layer">
                                        <em class="screen_out">대분류 카테고리 선택항목</em>
                                        <ul id="firstCategories" class="list_opt">
                                            <li value="287">
                                                <a href="javascript:void(0)" class="link_opt"
                                                >
                                                    <span>채팅</span>
                                                </a>
                                            </li>
                                            <li value="288">
                                                <a href="javascript:void(0)" class="link_opt"
                                                >
                                                    <span>판결문</span>
                                                </a>
                                            </li>
                                            <li value="415">
                                                <a href="javascript:void(0)" class="link_opt"
                                                >
                                                    <span>변호사</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="select_entercs
                                            select_disabled">
                                    <em class="screen_out">소분류 카테고리 선택상자</em>
                                    <a href="javascript:void(0)" class="link_select" aria-expanded="false" aria-disabled="true" tabindex="-1">
                                        선택해주세요<span class="ico_commercecs ico_arrow">선택됨</span>
                                    </a>
                                    <div class="opt_layer">
                                        <em class="screen_out">소분류 카테고리 선택항목</em>
                                        <ul id="secondCategories" class="list_opt">
                                        </ul>
                                    </div>
                                </div>
                                <span class="txt_error">유형을 선택해주세요</span>
                            </div>

                        </div>
                    </div>
                    <div class="bundle_entercs">
                        <strong class="tit_bundle tit_type2"><label for="contInquiry">문의내용</label><span class="ico_commercecs ico_require">필수항목</span></strong>
                        <div class="about_bundle">
                            <div class="write_entercs write_long">
                                <textarea id="contInquiry" name="content" class="tf_g" maxlength="550" placeholder="문의 할 내용을 자세히 적어주시면 더 좋습니다!"></textarea>
                                <span class="txt_error">500자 이내로 작성해 주세요</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="receive_entercs">
                    <button type="submit" class="btn_receive">문의접수</button>
                </div>
            </fieldset>
        </form>
    </article>
</div>
{% endblock %}