<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="{% static '/css/lawyer/Lawyer_Profile.css' %}" type="text/css">
    <script src="{% static '/css/lawyer/Lawyer_Profile.js' %}"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' />
</head>
<body>
    <div class="main-wrapper">
        <div class="container px-3 px-lg-5">
            <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg" style="height: 110vh;">
                <div class="resume-header">
                    <div class="row align-items-center" style="margin-top: 1%;">
                        <div class="resume-title col-9 col-md-6 col-lg-8 col-xl-10">
                            <h2 class="resume-name mb-2 text-center">{{lawyer.title}}</h2>
                            <!-- <div class="resume-tagline mb-3 mb-md-0">Senior Software Engineer</div> -->
                        </div>
                        <!--//resume-title-->
                        <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-2">
                            <button class="btn btn-primary text-center">수정</button>
                            <button class="btn btn-success text-center">삭제</button>
                        </div>
                        <!--//resume-contact-->
                    </div>
                    <!--//row-->

                </div>
                <!--//resume-header-->
                <hr>
                <div class="resume-intro py-3">
                    <div class="media flex-column flex-md-row align-items-center" style="margin-left: 10%;">
                        <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="{{lawyer.img.url}}">
                        <div class="media-body text-left">
                            <strong style="margin:0 0 0 -5%">{{lawyer.name}}</strong><br><br>
                            <p class="mb-0" style="display: inline-block; width: 40%;">
                                {{lawyer.company_name}}<br>
                                {{lawyer.company_address}}<br>
                                <div
                                    style="display: inline-block; width: 45%; float: right; vertical-align: top; margin:5% 5% 0 0;">
                                    <p><strong>경력</strong><span style="margin-left: 5%;">{{lawyer.career}}</span></p>
                                    <p><strong>자격</strong><span style="margin-left: 5%">{{lawyer.qualification}}</span></p>
                                    <strong>학력</strong><span style="margin-left: 5%">{{lawyer.education}}</span></br>
                                </div>

                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a
                                            class="resume-link" href="tel:#">{{lawyer.company_phone_number}}</a></li>
                                    <!-- <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link"
                                    href="tel:#">010 4567 890</a></li> -->
                                    <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a
                                            class="resume-link" href="mailto:#">{{lawyer.email}}</a></li>
                                </ul>
                            </p>
                        </div>
                        <!--//media-body-->
                    </div>
                </div>
                <!--//resume-intro-->
                <hr>
                <div class="resume-body">
                    <div class="row">

                        <div class="input-group" style="justify-content: center; margin-left: 3%;">
                            <div class="law-right">
                                <strong>이력사항</strong></br>
                                <div style="font-size: 15px;">
                                    <div style="margin-top: 5%;">
                                        <div style="display: inline-block; width: 15%; vertical-align: top;">
                                            <span style="width: 100%; height: 20vh; padding: 10%">경력</span>
                                        </div>
                                        <div
                                            style="width: 70%; height: 10vh; border-left: 1px solid #7b7f85; display: inline-block; padding-left: 3%">
                                            {{lawyer.career}}
                                        </div>
                                    </div>
                                    <div style="margin-top: 5%">
                                        <div style="display: inline-block; width: 15%; vertical-align: top;">
                                            <span style="width: 100%; height: 20vh; padding: 10%">자격</span>
                                        </div>
                                        <div
                                            style="width: 70%; height: 10vh; border-left: 1px solid #7b7f85; display: inline-block; padding-left: 3%">
                                            {{lawyer.qualification}}
                                        </div>
                                    </div>
                                    <div style="margin-top: 5%">
                                        <div style="display: inline-block; width: 15%; vertical-align: top;">
                                            <span style="width: 100%; height: 20vh; padding: 10%">학력</span>
                                        </div>
                                        <div
                                            style="width: 70%; height: 4vh; border-left: 1px solid #7b7f85; display: inline-block; padding-left: 3%">
                                            {{lawyer.education}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </span>
                            <span class="law-left" style="font-size: 15px;">
                                <strong>활동사항</strong>
                                <div style="margin-top: 5%">
                                    <div style="display: inline-block; width: 20%; vertical-align: top;">
                                        <span style="width: 100%; height: 20vh; padding: 10%">보도</span>
                                    </div>
                                    <div
                                        style="width: 70%; height: 10vh; border-left: 1px solid #7b7f85; display: inline-block; padding-left: 5%">
                                        {{lawyer.activity}}
                                    </div>
                            </span>
                        </div>
                    </div>
                </div>
            </article><br><br><Br>


            <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg" >
                <div class="wrap" style="margin-top: 3%; margin: 5% 25% 0 5%;">
                    <div style=" display: inline-block; width: 100%">
                        <h1 style="margin-left: 32%;">변호사 평점 및 리뷰</h1>
                        </br>
                        <div style="margin:3% 0 0 20%; font-size: 20px;">
                            <div style="display:inline-block;vertical-align:top;">
                                <strong>의뢰인의 총 만족도</strong></br>
                                <div class="wrap-star" style="width: 85%; display: inline-block; margin-left: 5%">
                                    <img src="media/star.png">
                                    <p class="text-center" style="font-size: 20px; color: #FFCE50;">4.3</p>
                                </div>
                            </div>
                            <div style="display: inline-block; width: 50%; margin-left: 20%">
                                <strong style="margin-left: 15%">세부 평점</strong></br>
                                <div style="display: inline-block">
                                    <span>시간 약속</span></br>
                                    <span>친절도</span></br>
                                    <span>궁금증 해소</span>
                                </div>

                                <div style="display: inline-block; margin-left: 5%">
                                    <div class="star-ratings" style="display: inline-block;">
                                        <div class="star-ratings-fill space-x-2 text-lg" style="width: 93%"
                                            :style="{ width: ratingToPercent + '%' }">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <div class="star-ratings-base space-x-2 text-lg">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                    </div><span>4.9</span></br>
                                    <div class="star-ratings" style="display: inline-block;">
                                        <div class="star-ratings-fill space-x-2 text-lg" style="width: 40%"
                                            :style="{ width: ratingToPercent + '%' }">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <div class="star-ratings-base space-x-2 text-lg">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                    </div><span>2.0</span></br>

                                    <div class="star-ratings" style="display: inline-block;">
                                        <div class="star-ratings-fill space-x-2 text-lg" style="width: 72%"
                                            :style="{ width: ratingToPercent + '%' }">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <div class="star-ratings-base space-x-2 text-lg">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                    </div><span>3.8</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="review">
                    <span style="font-size: 15px">후기 32개</span>
                    <hr>
                    <div class="row">
                        <div class="star-ratings" style="display: inline-block;">
                            <div class="star-ratings" style="display: inline-block;">
                                <div class="star-ratings-fill space-x-2 text-lg" style="width: 72%"
                                    :style="{ width: ratingToPercent + '%' }">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base space-x-2 text-lg">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                        </div>
                        <a name="lawyer_comment_{{ lawyer_comment.id }}"></a>
                        <span>{{ lawyer_comment.created_date}}</span></br>
                        <span style="font-size: 15px;">{{ lawyer_comment.content }}</span>
                    </div>


                    <hr>
                    <div>
                        <a href="{% url 'lawyer:comment_create' lawyer.id  %}"
                           class="small"><small>댓글쓰기</small></a>
                    </div>
        </div>
    </div>
    <!--//row-->
    </div>
    <!--//resume-body-->
    <hr>

    <!--//resume-footer-->


    <!--//container-->

    <footer class="footer text-center py-4">

        <div>
            <p class="text-center">
                <small><strong>업체명</strong></small><br>
                <small>대표 : 홍길동 ㆍ 주소 : 사거리 ㆍ 사업자등록번호:123-12-12345 ㆍ 전화 : 02-123-1234</small><br>
                <small>Copyrightⓒ test.com All rights reserved.</small>
            </p>
        </div>
    </footer>

    </div>
    <!--//main-wrapper-->



</body>

</html>