<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>profile</title>

    <link rel="stylesheet" href="Lawyer_Profile.css" type="text/css">
    <script src="Lawyer_Profile.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' />

</head>

<body>
    <div class="main-wrapper">
        <div class="container px-3 px-lg-5">
            <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg" style="height: 110vh;">

                <div class="resume-header">
                    <div class="row align-items-center" style="margin-top: 1%;">
                        <div class="resume-title col-9 col-md-6 col-lg-8 col-xl-12">
                            <h2 class="resume-name mb-2 text-center">&#10077;서울대 법대/18년 경력/대형로펌 출신/명쾌한 진단!&#10078;</h2>
                            <!-- <div class="resume-tagline mb-3 mb-md-0">Senior Software Engineer</div> -->
                        </div>
                        <!--//resume-title-->

                        <!--//resume-contact-->
                    </div>
                    <!--//row-->

                </div>
                <!--//resume-header-->
                <hr>
                <div class="resume-intro py-3">
                    <div class="media flex-column flex-md-row align-items-center" style="margin-left: 10%;">
                        <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="media/face-img.jpg"
                            alt="image">
                        <div class="media-body text-left">
                            <strong style="margin:0 0 0 -5%">박동명 변호사</strong><br><br>
                            <p class="mb-0" style="display: inline-block; width: 40%;">
                                법 무 범 인 &nbsp;&nbsp;원 일<br>
                                서울특별시 서초구 서초중앙로 152(서초동) 602호 법무법인 원일<br>

                                <div
                                    style="display: inline-block; width: 45%; float: right; vertical-align: top; margin:5% 5% 0 0;">
                                    <p><strong>경력</strong><span style="margin-left: 5%;">고위공직자범죄수사처 행정심판위원</span></p>
                                    <p><strong>자격</strong><span style="margin-left: 5%">2004년 변호사자격 취득</span></p>
                                    <strong>학력</strong><span style="margin-left: 5%">서울대학교 사법학과 학사 졸업</span></br>
                                </div>

                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a
                                            class="resume-link" href="tel:#">02 4567 890</a></li>
                                    <!-- <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link"
                                    href="tel:#">010 4567 890</a></li> -->
                                    <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a
                                            class="resume-link" href="mailto:#">abc@gmail.com</a></li>

                                </ul>


                            </p>
                        </div>
                        <!--//media-body-->
                    </div>
                </div>
                <!--//resume-intro-->
                <hr>
                <div class="resume-body">
                    <div class="row">

                        <div class="input-group" style="justify-content: center; margin-left: 3%;">
                            <div class="law-right">
                                <strong>이력사항</strong></br>
                                <div style="font-size: 15px;">
                                    <div style="margin-top: 5%;">
                                        <div style="display: inline-block; width: 15%; vertical-align: top;">
                                            <span style="width: 100%; height: 20vh; padding: 10%">경력</span>
                                        </div>
                                        <div
                                            style="width: 70%; height: 10vh; border-left: 1px solid #7b7f85; display: inline-block; padding-left: 3%">
                                            2013 - ~ &nbsp;&nbsp;&nbsp; 법무법인 원일 대표변호사</br>
                                            2018 - 2018 &nbsp;&nbsp;&nbsp; 대법원 국선변호인</br>
                                            2005 - 2013 &nbsp;&nbsp;&nbsp; 법무법인 율촌</div>
                                    </div>
                                    <div style="margin-top: 5%">
                                        <div style="display: inline-block; width: 15%; vertical-align: top;">
                                            <span style="width: 100%; height: 20vh; padding: 10%">자격</span>
                                        </div>
                                        <div
                                            style="width: 70%; height: 10vh; border-left: 1px solid #7b7f85; display: inline-block; padding-left: 3%">
                                            2019 &nbsp;&nbsp;&nbsp; 대한변협 민사법 전문 변호사</br>
                                            2018 - 2014 &nbsp;&nbsp;&nbsp; 대한변협 가사법 전문 변호사</br>
                                            2005 - 2004 &nbsp;&nbsp;&nbsp; 사법연수원 수료</div>
                                    </div>
                                    <div style="margin-top: 5%">
                                        <div style="display: inline-block; width: 15%; vertical-align: top;">
                                            <span style="width: 100%; height: 20vh; padding: 10%">학력</span>
                                        </div>
                                        <div
                                            style="width: 70%; height: 4vh; border-left: 1px solid #7b7f85; display: inline-block; padding-left: 3%">
                                            1991 - 1996 &nbsp;&nbsp;&nbsp; 서울대학교 사법학과 학사</div>
                                    </div>
                                </div>
                            </div>
                            </span>
                            <span class="law-left" style="font-size: 15px;">
                                <strong>활동사항</strong>
                                <div style="margin-top: 5%">
                                    <div style="display: inline-block; width: 20%; vertical-align: top;">
                                        <span style="width: 100%; height: 20vh; padding: 10%">보도</span>
                                    </div>
                                    <div
                                        style="width: 70%; height: 10vh; border-left: 1px solid #7b7f85; display: inline-block; padding-left: 5%">
                                        2016.10 &nbsp;&nbsp;&nbsp; 간통죄 폐지후 판결의 변화</br>
                                        2015.2 &nbsp;&nbsp;&nbsp; 간통죄 폐지에 따른 영향</br>
                                        2014.4 &nbsp;&nbsp;&nbsp; 불륜 사이트에 대해</div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </article><br><br><Br>


            <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg" >
                <div class="wrap" style="margin-top: 3%; margin: 5% 25% 0 5%;">
                    <div style=" display: inline-block; width: 100%">
                        <h1 style="margin-left: 32%;">변호사 평점 및 리뷰</h1>
                        </br>
                        <div style="margin:3% 0 0 20%; font-size: 20px;">
                            <div style="display:inline-block;vertical-align:top;">
                                <strong>의뢰인의 총 만족도</strong></br>
                                <div class="wrap-star" style="width: 85%; display: inline-block; margin-left: 5%">
                                    <img src="media/star.png">
                                    <p class="text-center" style="font-size: 20px; color: #FFCE50;">4.3</p>
                                </div>
                            </div>
                            <div style="display: inline-block; width: 50%; margin-left: 20%">
                                <strong style="margin-left: 15%">세부 평점</strong></br>
                                <div style="display: inline-block">
                                    <span>시간 약속</span></br>
                                    <span>친절도</span></br>
                                    <span>궁금증 해소</span>
                                </div>

                                <div style="display: inline-block; margin-left: 5%">
                                    <div class="star-ratings" style="display: inline-block;">
                                        <div class="star-ratings-fill space-x-2 text-lg" style="width: 93%"
                                            :style="{ width: ratingToPercent + '%' }">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <div class="star-ratings-base space-x-2 text-lg">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                    </div><span>4.9</span></br>
                                    <div class="star-ratings" style="display: inline-block;">
                                        <div class="star-ratings-fill space-x-2 text-lg" style="width: 40%"
                                            :style="{ width: ratingToPercent + '%' }">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <div class="star-ratings-base space-x-2 text-lg">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                    </div><span>2.0</span></br>

                                    <div class="star-ratings" style="display: inline-block;">
                                        <div class="star-ratings-fill space-x-2 text-lg" style="width: 72%"
                                            :style="{ width: ratingToPercent + '%' }">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <div class="star-ratings-base space-x-2 text-lg">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                    </div><span>3.8</span>
                                </div>
                            </div>
                        </div>
                    </div>



                    <form name="reviewform" class="reviewform" method="post" action="/save" style="margin:7% 0 0 25%">
                        <!--        <input type="hidden" name="rate" id="rate" value="0"/>-->
                        <!--        <p>별점과 리뷰를 남겨주세요.</p>-->

                        <div class="review_rating" style="margin:0 0 0% 10%">
                            <div class="warning_msg">별점을 선택해 주세요.</div>
                            <div class="rating">
                                <div class="ratefill"></div>
                                <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
                                <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio"
                                    title="1점">
                                <label for="rating1"></label>
                                <input type="checkbox" name="rating" id="rating2" value="2" class="rate_radio"
                                    title="2점">
                                <label for="rating2"></label>
                                <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio"
                                    title="3점">
                                <label for="rating3"></label>
                                <input type="checkbox" name="rating" id="rating4" value="4" class="rate_radio"
                                    title="4점">
                                <label for="rating4"></label>
                                <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio"
                                    title="5점">
                                <label for="rating5"></label>
                            </div>
                        </div>
                        <div class="review_contents" style="display:inline-block; width: 75%">
                            <div class="warning_msg">5자 이상으로 작성해 주세요.</div>
                            <textarea rows="2" class="review_textarea" style="width: 80%"></textarea>
                            <input type="button" class="btn btn-secondary text-center" name="save" id="save" value="등록"
                                style="margin-top: 1%;padding-top: 1px;">
                        </div>

                    </form>
                </div>
                <div class="review">
                    <span style="font-size: 15px">후기 32개</span>

                    <hr>
                    <div class="row">
                        <div class="star-ratings" style="display: inline-block;">
                            <div class="star-ratings" style="display: inline-block;">
                                <div class="star-ratings-fill space-x-2 text-lg" style="width: 72%"
                                    :style="{ width: ratingToPercent + '%' }">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base space-x-2 text-lg">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                        </div><span> &nbsp;20/1/3</span></br>
                        <span style="font-size: 15px;">시간 약속은 되게 잘 지키시는데 소송에 관해 자세히 안 알려주시고 자세히 물어봐야 그 때 관련된 답을
                            주시더라고요 그래서 이런 쪽으로 잘 모르시는 분들은 이분에게 상담을 받으시면 안 좋을꺼 같아요.</span>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="star-ratings" style="display: inline-block;">
                            <div class="star-ratings" style="display: inline-block;">
                                <div class="star-ratings-fill space-x-2 text-lg" style="width: 52%"
                                    :style="{ width: ratingToPercent + '%' }">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base space-x-2 text-lg">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                        </div><span> &nbsp;20/5/13</span></br>
                        <span style="font-size: 15px;">친절하게 잘 상담해주셨는데 사무실이 쓰레기장이더라고요 조금만 사무실 청결 신경 써주시면
                            좋겠어요</span>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="star-ratings" style="display: inline-block;">
                            <div class="star-ratings" style="display: inline-block;">
                                <div class="star-ratings-fill space-x-2 text-lg" style="width: 32%"
                                    :style="{ width: ratingToPercent + '%' }">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base space-x-2 text-lg">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                        </div><span> &nbsp;20/2/13</span></br>
                        <span style="font-size: 15px;">시간 약속은 되게 잘 지키시는데 소송에 관해 자세히 안 알려주시고 자세히 물어봐야 그 때 관련된 답을
                            주시더라고요 그래서 이런 쪽으로 잘 모르시는 분들은 이분에게 상담을 받으시면 안 좋을꺼 같아요.</span>
                    </div>
                    <hr>
                </div>
                <hr>
</article>
        </div>
    </div>
    <!--//row-->
    </div>
    <!--//resume-body-->
    <hr>

    <!--//resume-footer-->


    <!--//container-->

    <footer class="footer text-center py-4">

        <div>
            <p class="text-center">
                <small><strong>업체명</strong></small><br>
                <small>대표 : 홍길동 ㆍ 주소 : 사거리 ㆍ 사업자등록번호:123-12-12345 ㆍ 전화 : 02-123-1234</small><br>
                <small>Copyrightⓒ test.com All rights reserved.</small>
            </p>
        </div>
    </footer>

    </div>
    <!--//main-wrapper-->



</body>

</html>