{% extends 'free/base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">정보등록하기</h5>
    <br>

    <form method="post" enctype="multipart/form-data" class="post-form my-3">
        {% csrf_token %}
        <h6>사진</h6>
        <div class="form-group" style="width:100%">
            <input type="file" name="img">
        </div>

        <div class="form-group" style="width:100%">
            <label for="name">변호사 이름</label>
            <textarea class="form-control"name="name" id="name"
                      rows="3" style="width:80%">{{ form.name.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="email">이메일</label>
            <textarea class="form-control"name="email" id="email"
                      rows="3" style="width:80%">{{ form.email.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="title">제목</label>
            <textarea class="form-control"name="title" id="title"
                      rows="3" style="width:80%">{{ form.title.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="content">내용</label>
            <textarea class="form-control"name="content" id="content"
                      rows="3" style="width:80%">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="company_name">회사이름</label>
            <textarea class="form-control"name="company_name" id="company_name"
                      rows="3" style="width:80%">{{ form.company_name.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="company_address">회사주소</label>
            <textarea class="form-control"name="company_address" id="company_address"
                      rows="3" style="width:80%">{{ form.company_address.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="company_phone_number">회사전화번호</label>
            <textarea class="form-control"name="company_phone_number" id="company_phone_number"
                      rows="3" style="width:80%">{{ form.company_phone_number.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="career">경력내용</label>
            <textarea class="form-control"name="career" id="career"
                      rows="3" style="width:80%">{{ form.career.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="qualification">자격</label>
            <textarea class="form-control"name="qualification" id="qualification"
                      rows="3" style="width:80%">{{ form.qualification.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="education">학력</label>
            <textarea class="form-control"name="education" id="education"
                      rows="3" style="width:80%">{{ form.company_phone_number.value|default_if_none:'' }}</textarea>
        </div>

        <div class="form-group" style="width:100%">
            <label for="activity">활동사항</label>
            <textarea class="form-control"name="activity" id="activity"
                      rows="3" style="width:80%">{{ form.activity.value|default_if_none:'' }}</textarea>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}