<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% load static %}

<head>
    <meta name="viewport" content="width=480, user-scalable=yes">
    <meta charset="utf-8">
	<title>로그인</title>
	<link rel="stylesheet" href="{% static '/css/home/bootstrap.min.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
</head>

<!-- login -->
		<div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #FFCE50;">
						<h5 class="col-md-12 text-center" style="margin-left: 125px;">로그인</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="{{form.user_id.id_for_label }}" style="font-size: 15px;">{{ form.user_id }}</label>
							<input type="user_id" name="아이디"  class="form-control1" id="user_id" aria-describedby="emailHelp" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="{{form.user.passowrd.id_for_label }}" style="font-size: 15px;">{{ form.password }}</label>
							<input type="password" name="비밀번호" id="password"  class="form-control1" aria-describedby="emailHelp" placeholder="Password">
						</div>

						<div class="row align-items-center remember" style="margin-right: 10px;">
							<input type="checkbox">아이디 저장
						</div>
						<div></div>
						<div class="row align-items-center remember" style="margin-right: 20px;">
							<input type="checkbox">로그인 상태유지
						</div></br><br>

						<div class="form-group" style="width: 80px; margin: 0 auto;">
							<button type="button" class="btn btn-primary1">로그인</button>
					</div>
						<div class="text-center" style="width: 150px; margin: 0 auto;">
						<a href="users/agreement/" class="login"
						   onclick="location.href='/users/agreement.html'">회원가입</a>
						<span style="font-size: 5px;">|</span>
						<a href="#" class="login">아이디/비번 찾기</a>
						</div>
						</div>
				</div>
			</div>
		</div>

		<script>
			$(document).on('click', '[data-toggle="lightbox"]', function(event) {
				event.preventDefault();
				$(this).ekkoLightbox();
			});
		</script>
</html>