<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="{% static '/css/users/Mypage.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/users/checkbox_delete.css' %}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment-with-locales.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js">
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="{% static '/js/users/bootstrap-datepicker.js' %}"></script>


    <!--한국어  달력 쓰려면 추가 로드-->
    <script src="{% static '/js/users/bootstrap-datepicker.ko.min.js' %}"></script>

</head>

<body>
<div id="sub-wrap" class="sub">
    <div class="container" style="margin: 5% 0 20% 10%;">

        <div class="row">
            <div class="col-3 side" style="margin-top: 10%;">

                <div class="card " style="width: 17rem; box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                         class="card-img avatar rounded-circle " style="background-color:white">
                    <div class="card-body text-center">
                        <!--                        <h5 class="card-title">{{ user.name }} 님</h5>-->

                        {% if user.is_authenticated %}
                        {% if user.level == '0' %}
                        <span style="font-size: 18px;">{{ user.name }}</span> 님 (개발자)
                        <div class="logout">
                            <a href="{% url 'users:logout' %}">로그아웃</a>
                        </div>
                        {% elif user.level == '1' %}
                        <span style="font-size: 18px;">{{ user.name }}</span> 님 (관리자)
                        <div class="logout">
                            <a href="{% url 'users:logout' %}">로그아웃</a>
                        </div>
                        {% else %}
                        <span style="font-size: 18px;">{{ user.name }}</span> 님<br>
                        <div class="logout">
                            <a href="{% url 'users:logout' %}">로그아웃</a>
                        </div>
                        <br>
                        {% endif %}
                        {% else %}
                        <p>이 유저는 로그아웃 되어 있습니다..</p>

                        <a href="{% url 'users:login' %}">로그인</a>&nbsp;&middot;
                        <a href="{% url 'users:agreement' %}">회원가입</a>
                        <br>
                        {% endif %}



                        <p class="card-text">
                            <span><img src="{% static 'img/cake.png' %}" style="width: 8%;">{{ user.birthday }}</span><br>
                            <span>&#9742; 0{{ user.phone_number }}</span><br>
                            <span>&#9993; {{ user.email }}</span><br>
                        </p>
                    </div>

                </div>

                <div class="list-group text-center" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-profile-list"
                       data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">나의 글 내역</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                       href="#list-messages" role="tab" aria-controls="messages">회원 정보 변경</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                       href="#list-setting" role="tab" aria-controls="settings">회원 탈퇴</a>
                </div>
            </div>
            <div class="col-8" style="margin-left: 5%; ">
                <div class="tab-content" id="nav-tabContent">

                    <!--내 글 확인-->
                    <div class="tab-pane fade show active" id="list-profile" role="tabpanel"
                         aria-labelledby="list-profile-list">
                        <h1>나의 글 확인</h1>
                        <hr>

                        <table class="table3 table-hover text-center" style="margin-left: 5%; margin-top: 10%;">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th style="width=:30%">제목</th>
                                <th>글쓴이</th>
                                <th>작성일시</th>
                                <th>조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if blog_list %}
                            {% for free in blog_list %}
                            <tr class="btn write1">
                                <td>
                                    <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                                    {{ blogs.blog_list }}
                                </td>

                                <td class="text=left">
                                    <a href="{% url 'free:detail' free.id %}">{{ free.title }}</a>
                                </td>
                                <td>{{ free.writer }}</td> <!-- 글쓴이 추가 -->
                                <td>{{ free.create_date }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">해당 게시글이 존재하지 않습니다.</td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                    <!--정보 수정-->
                    <div class="tab-pane fade" id="list-messages" role="tabpanel"
                         aria-labelledby="list-messages-list">
                        <h1>화원정보 변경</h1>
                        <hr>
                        <div class="container bootstrap snippet" style="padding: 0; margin:0; margin-top: 5%;">
<!--                            <form method="POST" novalidate>-->
<!--                                                {% csrf_token %}-->
                            <div class="row" style="margin-left: 5%; width:100%">
                                <div class="col-sm-4" style="margin-left:37%">
                                    <!--left col-->


                                    <div class="text-center" style="width: 80%">
                                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                                             class="avatar img-circle img-thumbnail" alt="avatar">
                                        <input type="file" class="text-center center-block file-upload"
                                               style="margin-top: 10%; margin-left: -10%;">

                                    </div>
                                    </hr><br>
                                </div>
                                <!--/col-3-->
                            </div>
                            <!--/tab-content-->

                            <table class="table2" style=" margin-top: 5%; margin-left: 25%;">
                                <tbody>
                                <tr>
                                    <th style="width:30%">아이디</th>
                                    {% if user.level == '0'%}
                                    <td class="profile_content">&nbsp;&nbsp;{{ user.user_id }}&nbsp;&nbsp;(개발자)</td>
                                    {% elif user.level == '1' %}
                                    <td class="profile_content">&nbsp;&nbsp;{{ user.user_id }}&nbsp;&nbsp;(관리자)</td>
                                    {% else %}
                                    <td class="profile_content">&nbsp;&nbsp;{{ user.user_id }}</td>
                                    {% endif %}
                                    <td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td>{{ user.name }}</td>
                                </tr>
                                <tr>
                                    <th>비밀번호</th>
                                    <td><a class="btn btn-info" data-toggle="modal" data-target="#PasswordChange">비밀번호 변경</a></td>
                                </tr>

                                <div class="modal fade" id="PasswordChange" data-backdrop="static" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content" style="margin:0 auto; width:55%">
                                            <div class="modal-header" style="background-color: #FFCE50;">
                                                <h5 class="col-md-12 text-center" style="">비밀번호 변경</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color:rgba(0, 0, 0, 0); margin:0px">

                                                </button>
                                            </div>
                                            <form method="POST" action="{% url 'users:password_edit' %}">
                                                {% csrf_token %}
                                                <div class="modal-body" style="padding:2rem;margin-top:3%">
                                                    <div class="form-group">기존 비밀번호
                                                        <label for="{{ password_change_form.old_password.id_for_label }}" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ password_change_form.old_password.label }}</label>
                                                        <input type="password" name="label_old_password" class="form-control1" id="password">

                                                        {{ password_change_form.old_password }}
                                                        <script type="text/javascript">
                                    if (document.getElementsByName('old_password')[0].value != '') {
                                        document.getElementsByName('label_old_password')[0].setAttribute('class',
                                            'active');
                                    }
                                </script>
                                                        {% if password_change_form.old_password.errors %}
                                                        <script type="text/javascript">
                                    document.getElementsByName('old_password')[0].setAttribute('class',
                                        'form-control is-invalid')
                                </script>
                                                        {% for error in password_change_form.old_password.errors %}
                                                        {{ error }}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="form-group">새 비밀번호
                                                        <label for="{{ password_change_form.new_password1.id_for_label }}" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ password_change_form.new_password1.label }}</label>
                                                        <input type="password" name="label_new_password1" id="password" class="form-control1" aria-describedby="emailHelp"
                                                               style="font-color:black;margin-left:5%">
                                                        {{ password_change_form.new_password1 }}
                                                        <script type="text/javascript">
                                    if (document.getElementsByName('new_password1')[0].value != '') {
                                        document.getElementsByName('label_new_password1')[0].setAttribute('class',
                                            'active');
                                    }
                                </script>
                                                        {% if password_change_form.new_password1.errors %}
                                                        <script type="text/javascript">
                                    document.getElementsByName('new_password1')[0].setAttribute('class',
                                        'form-control is-invalid')
                                </script>
                                                        {% for error in password_change_form.new_password1.errors %}
                                                        {{ error }}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>

                                                    <div class="form-group" style="margin:0px">새 비밀번호 확인
                                                        <label for="{{ password_change_form.new_password2.id_for_label }}" style="font-size: 15px;">&nbsp;&nbsp;{{ password_change_form.new_password2.label }}</label>
                                                        <input type="password" name="label_new_password2" id="password" class="form-control1" aria-describedby="emailHelp"
                                                               style="font-color:black;">

                                                        {{ password_change_form.new_password2 }}
                                                        <script type="text/javascript">
                                    if (document.getElementsByName('new_password2')[0].value != '') {
                                        document.getElementsByName('label_new_password2')[0].setAttribute('class',
                                            'active');
                                    }
                                </script>
                                                        {% if password_change_form.new_password2.errors %}
                                                        <script type="text/javascript">
                                    document.getElementsByName('new_password2')[0].setAttribute('class',
                                        'form-control is-invalid')
                                </script>
                                                        {% for error in password_change_form.new_password2.errors %}
                                                        {{ error }}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>

                                                    <small style="margin-left: 0px; margin-top:8px; margin-bottom: 30px;" class="form-text text-muted">
                                                        최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요.
                                                    </small>
                                                    <hr style="margin-top:15%">

                                                    <div style="text-align: center; margin-bottom:-25px;">
                                                        <button  class="close1 btn-sm" id="back_btn" data-dismiss="modal" aria-label="Close"><i class="fa fa-reply"></i>&nbsp;돌아가기</button >
                                                        <button type="submit" class="btn btn-sm1" id="detail_btn"><i class="fas fa-check"></i>&nbsp;변경하기</button>
                                                        <input type="hidden" name="next" value="{{ next }}">
                                                    </div>
                                                </div>
                                            </form>
                                            <tr>
                                                <th>휴대폰번호</th>
                                                <td><input type="text" name="phone" id="phone" value="{{user.phone_number}}"
                                                           title="enter your phone number if any.">{{ user_change_form.phone_number }}</td>
                                            </tr>
                                            <tr>
                                                <th>생년월일</th>
                                                <td><input type="text" id="datePicker" class="form-control2 text-center"
                                                           value="{{ user.birthday }}">{{ user_change_form.birthday }}
                                                    <!-- <a href="#" id="datePicker"> -->
                                                    <img src="{% static 'img/calendar.png' %}" style="width:5%;" id="datePicker">
                                                    <!-- </a> -->

                                                </td>
                                            </tr>
                                            <tr>
                                                <th>이메일</th>
                                                <td><input type="email" name="email" id="email" value="{{user.email}}">{{ user_chage_form.email }}</td>
                                            </tr>
                                        </div>
                                    </div>
                                </div>
                                </tbody>
                            </table>
                            <div style="margin-top:10%; margin-left:48%">
                                <button class="btn btn-primary" onclick="location.href = '/users/profile/' ">수정 완료</button>
                            </div>
                            <br>
                        </div>

                    </div>

                    <!--회원 탈퇴-->
                    <div class="tab-pane fade" id="list-setting" role="tabpanel"
                         aria-labelledby="list-settings-list">
                        <article class="resume-wrapper mx-auto theme-bg-light p-4 mb-5 my-5 shadow-lg"
                                 style="height: 98vh; ">


                            <div class="container bootstrap snippet" style="padding: 0; margin:0; margin-top: 5%;">

                                <div class="modal-body" style="margin-left: 15%;">
                                    <div class="text-center" style="margin-bottom: 13%;">
                                            <span style="font-size: 30px;">&#10077; 회원탈퇴 신청 전 확인 <br>후 <span
                                                    style="color: red;">동의 체크</span>를 해주세요&#10078;</span>
                                    </div>
                                    <div style="margin-left: 10%;">
                                        <strong style="margin:0 0 0 -5%">서비스 탈퇴 유의사항</strong><br>
                                        <p style="padding-top: 2%;">1.탈퇴 이후에는 해당 계정으로 <span style="color: red;">다시
                                                    가입할 수 <br>&nbsp;&nbsp;&nbsp;없습니다.</span></p>
                                        <p>2.아이디에 관련된 <span style="color: red;">모든 데이터가 삭제</span>되며
                                            <br>&nbsp;&nbsp;&nbsp;복구가 불가능합니다.</p>
                                        <p>3.<span style="color: red;">개인정보 처리방침 제5조</span>(개인정보의 보유 및
                                            <br>&nbsp;&nbsp;&nbsp;이용기간)에 따른 특별한 경우, 한시적으로
                                            <br>&nbsp;&nbsp;&nbsp;개인정보를 보존합니다.
                                        </p>
                                        <p>4.커뮤니티에 게시한 글들은 회원탈퇴 후에도 <br>&nbsp;&nbsp;&nbsp;삭제되지 않고
                                            유지됩니다.<br>&nbsp;&nbsp;
                                            삭제를 원하시는 경우 반드시 <span style="color: red;">게시물을 직접
                                                    <br>&nbsp;&nbsp;&nbsp;삭제</span>하신 후에 회원탈퇴를 진행해 주세요.</p>
                                    </div>

                                </div>
                                <form method="POST" action="{% url 'home' %}">
                                    {% csrf_token %}
                                    <div class="mb-4 md-form">비밀번호
                                        <input type="password" class="form-control" name="label_password" for="{{ password_form.password.id_for_label }}"><i
                                                class="fas fa-lock"></i>&nbsp;&nbsp;{{ password_form.password.label }}</input>
                                        {{ password_form.password }}
                                        {% if password_form.password.errors %}
                                        <script type="text/javascript">
                                    document.getElementsByName('password')[0].setAttribute('class',
                                        'form-control is-invalid')
                                </script>
                                        {% for error in password_form.password.errors %}
                                        <div class="invalid-feedback" style="margin-bottom:-10px;">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}

                                    </div>

                                    <label>
                                        <input type="checkbox" name="ck" onClick="checkDisable(this.form)">
                                        <span style="color:#d14040f2; font-weight: bold;">유의사항 동의</span>
                                    </label>
                                    <div style="margin-top:25%; margin-left:48%">
                                        <button type="submit" class="btn btn-sm" name="bt" id="detail_btn" disabled="true" ><i class="fas fa-check"></i>&nbsp;탈퇴하기</button>
                                    </div>
                                </form>
                                <br>
                            </div>
                        </article>
                        <script type="text/javascript">
    function checkDisable(form) {
        if (form.ck.checked == true) {
            form.bt.disabled = false;
        } else {
            form.bt.disabled = true;
        }
    }
</script>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>

<script src="{% static '/js/users/Mypage.js' %}"></script>

</body>


</html>